body {
    width: 100%;
    height: 100%; 
    display: flex;  
    justify-content: space-around;
    flex-direction: column;
}
#left {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 600px;
    background-color: chartreuse;
}
#right {
    width: 800px;
}
.bold {
    font-weight: bold;
}
ul {
    font-weight: 100;
}
li {
    list-style-type: none;
    font-size: 25px;
}
td {
    background-color: red;
    border: 1px solid black;
    height: 50px;
    width: 148px;
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
    b
}
table {
    border-spacing: 0;
}
.chevron {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	position: relative;
	top: 0.15em;
	vertical-align: top;
	width: 0.45em;
}
.chevron-right {
	left: 0;
    transform: rotate(45deg);
}
.chevron-bottom {
	top: 0;
	transform: rotate(135deg);
}
.displayNone {
    display: none;
}
.displayInline {
    display: inline;
}
#curr_sel {
    background-color: blanchedalmond;
    font-size: 25px;
    height: 50px;
    width: 150px;
}

#clear {
    background-color: blanchedalmond;
    font-size: 25px;
    width: 150px;
    height: 200px;
}
#left_0 {
    display: flex;
    flex-direction: row;
}
#left_right {
    display: flex;
    flex-direction: column;
    background-color: firebrick;
}




@media screen and (max-width: 768px) {
    td {
        background-color: red;
        border: 1px solid black;
        height: 50px;
        width: 150px;
        font-size: 5px;
        text-align: center;
    }
}
/* доделать */
